<ion-view title="Partner Preferences">
	<ion-list>
  	<li class="item item-toggle">
     Trainer<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="filter.trainer">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
    <li class="item item-toggle">
     Trainer<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="filter.trainer">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </li>
	<li class="item item-toggle">
     Vocalist<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="filter.vocalist">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Guitarist<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="filter.guitarist">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Pianist<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="filter.pianist">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Bassist<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="filter.bassist">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Drummer<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="filter.drummer">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	</ion-list>
</ion-view>