<ion-view title="Notifications" class='title_hack cariaman'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
	
      <div class="list">
      	<div class="item item-divider">
          Today
        </div>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-heart"></i>
          38 of 60 musicians like your show-off!
          <span class="badge badge-assertive">New</span>
        </a>
        <a class="item item-icon-left" href="#/app/chat">
          <i class="icon ion-person-stalker"></i>
          Merakarno Rahusna wants to collaborate with you.
          <span class="item-note">
            Accepting Request to Start Collaborate!
          </span>
        </a>

        <div class="item item-divider">
          February 11, 2016
        </div>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-heart"></i>
          37 of 41 musicians like your show-off!
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-music-note"></i>
          Musik Petang!
          <span class="item-note">
            Apres ITB, 20 April 2016
          </span>
        </a>

      </div>

    
	</div>
	</ion-content>
</ion-view>