<ion-view title="About" >
  <ion-content class="padding">
	<div class="list">
		<center style="margin-bottom : 15px;"><img src="img/logo.jpg" alt="" width="100px" style="border: 0px none;margin: 0px;padding-bottom: 0px;;z-index:20;" /></center>
		<a class="item item-icon-left" >
		    <i class="icon ion-person"></i>
		    Developed By Tutteam
		  </a>

		<a class="item item-icon-left" >    
          <i class="icon ion-android-phone"></i>
          (022) 124 -021344
		  </a> 

		  <a class="item item-icon-left" >
		    <i class="icon ion-home"></i>
		    Jl. Ganeca No 10, Bandung
		  </a>


		  <a class="item item-icon-left" >
		    <i class="icon ion-social-twitter"></i>
		    @tutteam
		  </a>

		  <a class="item item-icon-left" >
		    <i class="icon ion-mic-a"></i>
		    Emancipating Indonesian Music Industry.
		  </a>
		
		<h2>&nbsp</h2>
	</div>
	</ion-content>
</ion-view>